body{  
    
    background-image: url("./background.png");
} 
*{
    border :0px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration:none;
}

.header {
   margin:auto;
   min-width:1005px;
   max-width:1005px;
           
     
}
.logo{
   
    display: inline;
    width: fit-content;
}
.userdetails{
    display: inline;
    float: right;

}
.userdetails ul{
    list-style-type: none;
    padding-left: 0px;
    margin: 20px 0px 4px 0px; 
      
}
.userdetails ul li a{
    position: relative;
    text-decoration: none;
    color: #959595;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform: capitalize;
    text-align: center;
    padding-left: 15px; 
        
}
.userdetails ul li:first-child a{
    border: none;
}
.userdetails ul li{
    display:inline; 
    padding-left: 10px;  
}


.userdetails ul li a::before {
    content: "|";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color:#e7e4e4;


  }
  .userdetails ul li:first-child a::before{
    
    content: "";
  }

.checkout{
    text-decoration: none;
    color: #5e5d5d;
    font-family:sans-serif;
    font-size:10px;
    text-transform: capitalize;
    text-align: center; 

}
.mikasamenu{
    border-top:2px solid #D8D6D7 ;
    border-bottom:2px solid #D8D6D7 ;
}

.menu{
    margin:2px 0px;
    background-color: #D6D4D5;
    min-height:25px;

}

.menu div{
    margin:auto;
    max-width:1000px;
}
.menu div ul {
   padding:0px;
}
.menu div ul li{
    list-style-type:none;
    display:inline-block;
    border-right:2px solid white;
    padding:5px 0px 8px 0px ;
    

}
.go{
    margin-left: 3px;
    border-radius:6px;
    font-size:12px;
    border:solid;
    border: 2px solid #B2B2B2;
    color: #2E2E2E;
    cursor: pointer;
}
.menu input[type=text]{
    border-top:2px solid black;
    border-left:2px solid black;
    outline: none;
}


.menu ::placeholder{
    font-size:10px;
    color:#CDCDCD;
    font-family: Tanseek Modern Arabic Light;
}
.menu div ul li:last-child{
    float:right;
    margin:0px;
    border: 0px;
}
.menu div ul li a{
    text-decoration: none;
    font-family: Avenir Next Regular;
    font-size: 13px;
    font-weight:5px;
    color:#363435;
    padding:5px 10px 10px 10px;
    text-transform: capitalize;
    justify-content: center;
}
.menu div ul li:first-child a  {
    padding-left:0px;
}

.specialoffers1{

    min-height:48px;
    
}

.special li{
    list-style-type: circle;
    float:left;
    text-transform: capitalize;
    padding:10px 25px 10px 0px;
    color: rgb(103, 104, 104);
    font-family:sans-serif;
    font-size:12.5px;
}

.specialoffers{
    margin:auto;
    display:block;
    max-width:1000px ;
}
.special li:first-child{
    list-style-type: none;
}
.special li:last-child{
    float:right;
    list-style-type: none;
    padding:0px;
    margin-right:5px ;
}

.special li div{
    float:right;
    padding:10px 25px 10px 10px;
    font-size:13px;
    font-family:sans-serif;
    color:#898896;
    cursor: pointer;
}
.special li a{
    font-size:13px;
    font-family:sans-serif;
    color:#898896;


}
.special li img{
    height:45px;
    width:45px;
}

/*...........................*/
.bodypage{
    border-top:1px solid #bfbdbd;
}

.section{
    margin:auto;
    min-width:1010px;
    max-width:1010px
}

.imagepart{
    display:flex;
    max-height: 400px;
    border: 3px solid white;
}
.imagepart img{
    height:392px;
    width:701px;
}
.imagepart div:first-child{
    max-height: 400px;
    border: 2px solid #FFF;
    
}

.article1{
    border: 2px solid  #FFF;
    border-left:4px solid #FFF;
    background-color: #333230;
    float:right;
    
   
}
.article1 ul{
    margin:7px;
    border:1px solid #4D4C4A;
    min-height:auto;
    padding:32px 15px 32px 17px;
    max-width: 100%;   
}
.article1 ul li strong{
    font-size: 30px;
    color:#FFFEFF;
    font-family:  carmen Sans Regular;
    padding:10px 13px 0px 0px;

     

}
.article1 ul li P{
    font-size:13px;
    margin-bottom:5px;
    color:#A09F9D;
    border-right:15px;
    padding-right:3px;
    line-height:1.5;
    word-spacing:2px;
    margin-right:7px;
    
}
.borderline{
    padding-bottom:2px;
    border-bottom:1px solid #51504F;
    
}
.article1 ul li {
    padding: 5px 0px 5px 13px;
    color: #F0EEEF;
    font-size:13px;
    font-family:Avenir Next Regular;

}

.article1 ul li a{
    color:#858982;
    padding:4px 0px 2px 0px;
    font-size: smaller;
    font-family:sans-serif;
    text-decoration: underline;
    
}
.article1 hr{
    background-color:#504f4D;
    height:1px;
    margin:1px;
}
/*..............*/
.mikasaoffers{
    display:flex;
    border:7px solid black;
    background-color:#FFF;
    max-height:170px;
}

.container-glass{
    background-image: url("./promo_glass.png");
    background-repeat: no-repeat;
    
    
}  
.container{
    margin: 6px;
    border-right:2px solid #E1E1E1;
    height:142px;
    width:320px;
   
}
.container div{
    margin:10px 10px 0px 5px;
    padding:5px 5px 0px 10px;
   
    

}
.heading{
 
    font-size:17px;
    color: #5A5F66;
    font-weight:7px;
    font-family: Avenir Next Regular;

}

.container div a{
    float: right;
    margin-right:12px;
    margin-top:20px;
    color: #5A5F66;
    font-size:12px;
    font-family: sans-serif;
   
}
.description{
    font-size:11px;
    color:#7C8189;
    margin-top:2px;
    word-spacing:1px;
    margin-bottom:10px;

}
.container-plates{
    background-image: url("./promo_plates.png");
    
    background-position-y:32px;  
    
    background-repeat: no-repeat;
     
   

}
.framephoto1{
    background-image: url("./promo_album.png");
    background-repeat: no-repeat;
    background-position-x:140px;


}
.container1{
    margin: 6px;
    height:142px;
    width:320px;
   
}
.container1 div {
    width:160px;
}
.container1 div{
    margin:10px 10px 0px 5px;
    padding:5px 5px 0px 10px; 

}
.container1 div a{
   
    color: #5A5F66;
    font-size:12px;
    font-family: sans-serif;
   
}



/* footer */
.contactdetails{
    max-width: fit-content;
    min-height:100px;
}
.contactdetails  ul{
    padding:0px;
}
.contactdetails  ul li{
    padding-right:7px;
    display: inline-block;
}
.contactdetails  ul  li a{
    text-transform: capitalize;
    color: #8B898A;
    font-size: 9px;
    border-left: 2px solid #656482;
    padding-left: 13px;
    text-decoration: underline;
}
.contactdetails ul li:first-child  a{
    border-left:none;
    padding-left: 0px;
}
.footer p{
    color:#7C8189;
    font-size:11px;
    padding-top:4px;
    word-spacing:2px;
}
.usermaildetails{
    text-align: right;
    flex:1;
}
.footer{
    margin-top:3px;
    display:flex;
    

}

.usermaildetails p{
    font-size: 11px;
    color: #8B898A;   
}
.usermaildetails form{
    padding-top: 5px;
}
.usermaildetails form input[type=text]{
    font-size: 8px;
    color:#000000;
    font-weight: 2px;
    padding:3px 25px 3px 3px;
    
}
.signup{
    border-radius:4px;
    font-size: 8px;
    color: #000000;
    font-weight:4px;
    padding:3px 6px 3px 4px;
    margin-right:107px;
    cursor: pointer;
   
}
.contactdetails a{
    color: #7C8189;
    text-decoration: underline;
}
.hh img{
    margin-right:4px;
}










